/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bd1e0a69-dzebo07f
 *                                 	 
 ******************************************************************************************************/
	 .master .style-bd1e0a69-dzebo07f .title-holder  {
		
						text-align: center;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview.image-cover  {
		
						min-height: 250px;	
		}
	 .master .style-bd1e0a69-dzebo07f .Title  ,  .master .style-bd1e0a69-dzebo07f .Body h1  { 
						font-size: 37px;
						color: rgb(0, 0, 0);
						margin-right: 50px;
						margin-top: 30px;
						margin-left: 50px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-bd1e0a69-dzebo07f  .preview-content-holder  {
		
						text-align: left;
						max-width: 400px;
						margin-right: 20px;
						margin-top: 20px;
						margin-left: 20px;
						margin-bottom: 20px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .master .style-bd1e0a69-dzebo07f .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);	
		}
	 .master .style-bd1e0a69-dzebo07f .item-links span  {
		
						font-style: italic;
						font-size: 20px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						max-width: 500px;
						padding-right: 20px;
						margin-top: 20px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: 'Times New Roman';
						background-color: rgb(66, 117, 83);
						margin-left: 50px;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-title  ,  .master .style-bd1e0a69-dzebo07f .preview-body h1  { 
						font-family: 'Times New Roman';
						font-size: 20px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-top: 20px;
						margin-bottom: 5px;
						line-height: 1.1em;	
		}
	 .master .style-bd1e0a69-dzebo07f .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						margin-left: 50px;
						font-style: italic;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-item-links span  ,  .master .style-bd1e0a69-dzebo07f #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 16px;
						color: rgb(50, 50, 50);
						padding-bottom: 10px;
						border-color: rgb(147, 147, 147);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: 'Times New Roman';
						background-color: rgba(159, 14, 14, 0);	
		}
	 .master .style-bd1e0a69-dzebo07f .quote-author  {
		
						font-style: italic;
						font-size: 23px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-bd1e0a69-dzebo07f .item-links  {
		
						text-align: center;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-element.icon-source  {
		
						width: 50px;	
		}
	 .master .style-bd1e0a69-dzebo07f .body-holder  {
		
						text-align: justify;	
		}
	 .master .style-bd1e0a69-dzebo07f .Body  {
		
						margin-bottom: 20px;
						line-height: 1.4em;
						font-size: 14px;
						margin-left: 50px;
						margin-right: 50px;	
		}
	 .master .style-bd1e0a69-dzebo07f .Subtitle  ,  .master .style-bd1e0a69-dzebo07f .Body h2  { 
						font-style: italic;
						font-size: 22px;
						letter-spacing: 0.05em;
						margin-right: 50px;
						margin-top: 15px;
						margin-left: 50px;
						margin-bottom: 15px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-bd1e0a69-dzebo07f .page-image-cover  {
		
						margin-bottom: 30px;	
		}
	 .master .style-bd1e0a69-dzebo07f .title-wrapper  {
		
						max-width: 1124px;	
		}
	 .master .style-bd1e0a69-dzebo07f .subtitle-wrapper  {
		
						max-width: 1114px;	
		}
	 .master .style-bd1e0a69-dzebo07f  .preview-content-wrapper  {
		
						text-align: left;	
		}
	 .master .style-bd1e0a69-dzebo07f .body-wrapper  {
		
						max-width: 700px;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-item-links span:hover  ,  .master .style-bd1e0a69-dzebo07f .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						color: rgb(0, 0, 0);	
		}
	 .master .style-bd1e0a69-dzebo07f .subtitle-holder  {
		
						text-align: center;	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-body  {
		
						line-height: 1.6em;
						font-size: 12px;
						color: rgb(34, 34, 34);
						max-width: 500px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-bd1e0a69-dzebo07f.master.container > #children  {
		
						background-color: rgb(243, 243, 243);	
		}
	 .master .style-bd1e0a69-dzebo07f .preview-subtitle  ,  .master .style-bd1e0a69-dzebo07f .preview-body h2  { 
						font-family: 'Roboto Slab Light';
						font-size: 14px;
						color: rgb(35, 35, 35);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						margin-bottom: 5px;
						line-height: 1.2em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
