/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-8dd4c345-lyx6g55r
 *                                 	 
 ******************************************************************************************************/
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .title-holder  {
		
						text-align: center;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .Title  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .Body h1  { 
						color: #8a7373;
						letter-spacing: 0.15em;
						font-family: open-sans;
						font-size: 36px;
						font-weight: bold;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 400px;
						padding-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 0px;
						background-color: rgba(0, 0, 0, 0);
						padding-left: 0px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size: 12px;
						color: rgb(0, 0, 0);
						margin-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-divider  {
		
						width: 100%;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .inner-pic  {
		
						opacity: 1;
						color: rgb(0, 0, 0);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						border-width: 1px;
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						font-family: 'Times New Roman';	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .background-div  {
			
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-title  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-body h1  { 
						font-family: Raleway;
						font-size: 25px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						font-weight: bold;
						margin-top: 10px;
						margin-bottom: 5px;
						line-height: 1.1em;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-item-links span  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgba(244, 244, 244, 0.909804);
						padding-bottom: 10px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 10px;
						padding-left: 15px;
						border-radius: 10px;
						padding-top: 10px;
						margin-bottom: 15px;
						border-width: 0px;
						background-color: rgb(0, 0, 0);	
		}
	
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-subtitle-holder  {
		
						max-width: 800px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .stripe-background  {
		
						opacity: 0.4;
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -50px;
						margin-left: -6%;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						width: 40px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						padding-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 0px;
						padding-left: 0px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .Subtitle  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size: 14px;
						color: rgb(0, 0, 0);
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Raleway;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-item-links span:before  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-price  {
		
						font-family: Arial;	
		}
	
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-item-links span:hover  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(62, 62, 62);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						width: 70px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-content-wrapper  {
		
						text-align: left;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-title  {
		
						font-size: 30px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						font-weight: bold;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-body  {
		
						line-height: 1.5em;
						font-size: 16px;
						color: rgb(0, 0, 0);
						max-width: 500px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .blocks-preview-item-links .Link  {
		
						font-size: 15px;
						color: rgb(0, 0, 0);
						padding-bottom: 5px;
						border-color: rgb(0, 0, 0);
						padding-right: 15px;
						margin-top: 10px;
						padding-left: 15px;
						border-radius: 20px;
						padding-top: 5px;
						margin-bottom: 10px;
						border-width: 2px;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-subtitle  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .preview-body h2  { 
						font-family: Raleway;
						font-size: 14px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .middle_layout .helper-div  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .pic-side:after  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .item-effect-tester  ,  .style-bd1e0a69-dzebo07f .style-8dd4c345-lyx6g55r .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-8dd4c345-lyx6g55r #vbid-8dd4c345-6ezglgxo.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-8dd4c345-lyx6g55r #vbid-8dd4c345-fbmckfat.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				} .style-8dd4c345-lyx6g55r #vbid-8dd4c345-9ikamghg.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				}



































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
