/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4dfd23e6-46rsyze6
 *                                 	 
 ******************************************************************************************************/
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6.master.item-box   {
		
						position: relative;
						background-color: rgb(34, 34, 34);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-item-links span:hover  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-item-links  {
		
						text-align: center;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 10px;
						margin-top: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: right;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-item-links span  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 #sr-basket-widget *  { 
						font-size: 20px;
						color: rgb(255, 255, 255);
						padding-bottom: 5px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.35em;
						max-width: 1150px;
						padding-right: 20px;
						padding-left: 20px;
						border-radius: 0px;
						padding-top: 5px;
						font-family: HelveNueThinNormal;
						background-color: rgba(0, 0, 0, 0);
						margin-left: 0px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-title  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-body h1  { 
						font-family: HelveNueThinNormal;
						font-size: 20px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.45em;
						margin-right: 10px;
						margin-left: 0px;
						line-height: 1.1em;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-item-links.allow-bg-color  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .submenu  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-item-links span:before  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .effect-tester  { 
						background-color: rgb(237, 171, 38);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-right: 0px;
						margin-left: 0px;
						width: 40px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: right;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .middle_layout .helper-div  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-subtitle  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-46rsyze6 .preview-body h2  { 
						font-size: 12px;
						color: rgb(152, 152, 152);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 5px;
						font-family: Raleway;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
