/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4dfd23e6-xmubbxrp
 *                                 	 
 ******************************************************************************************************/
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 1600px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						border-color: rgba(253, 253, 253, 0.53);
						padding-left: 0px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .item-content:not(.blocks_layout)  {
		
						background-color: rgb(27, 73, 190);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-divider  {
		
						width: 100%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .inner-pic  {
		
						color: rgb(255, 255, 255);
						opacity: 1;
		    			-webkit-filter:none;filter:none;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp.master.item-box   {
		
						background-color: rgb(34, 34, 34);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-title  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-body h1  { 
						font-family: Arimo;
						font-size: 90px;
						color: rgb(255, 255, 255);
						letter-spacing: -0.05em;
						margin-top: 10px;
						margin-bottom: 5px;
						line-height: 1.2em;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp.master.item-box   {
		
						padding-left: 0%;
						width: 100%;
						padding-right: 0%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-item-links span  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp #sr-basket-widget *  { 
						font-size: 30px;
						padding-right: 20px;
						color: rgb(34, 34, 34);
						padding-bottom: 10px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.15em;
						font-weight: bold;
						margin-top: 10px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-element.icon-source  {
		
						width: 660px;
						margin-bottom: 15px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-link-img  {
		
						width: 33px;
						margin: 15px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-item-links span:hover  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-element.Link.hover-tester  { 
						color: rgb(34, 34, 34);
						background-color: rgb(234, 234, 234);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .inner-pic-holder  {
		
						background-color: rgb(234, 234, 234);	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size: 16px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						max-width: 600px;
						margin-top: 5px;
						margin-bottom: 20px;
						line-height: 1.4em;	
		}
	
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-social-holder  {
		
						margin-bottom: 15px;
						margin-top: 10px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .middle_layout .helper-div  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;	
		}
	 .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-subtitle  ,  .style-f48f2b3c-geekw25j .style-4dfd23e6-xmubbxrp .preview-body h2  { 
						line-height: 1.1em;
						font-size: 12px;
						font-weight: bold;
						color: rgb(0, 0, 0);
						letter-spacing: 0.55em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 10px;
						font-family: Abel;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-4dfd23e6-xmubbxrp #vbid-4dfd23e6-khhwayxp .preview-content-holder{
				
							text-align : left;
					
				}


 .style-4dfd23e6-xmubbxrp #vbid-4dfd23e6-7dtvsci9.inner-pic{
				
							background-size : 37%;
					
				}











 .style-4dfd23e6-xmubbxrp #vbid-4dfd23e6-khhwayxp .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
