/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-f48f2b3c-geekw25j
 *                                 	 
 ******************************************************************************************************/
	 .master .style-f48f2b3c-geekw25j .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .master .style-f48f2b3c-geekw25j .Subtitle  ,  .master .style-f48f2b3c-geekw25j .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .master .style-f48f2b3c-geekw25j .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .master .style-f48f2b3c-geekw25j .Title  ,  .master .style-f48f2b3c-geekw25j .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .master .style-f48f2b3c-geekw25j .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .master .style-f48f2b3c-geekw25j .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	
	 .master .style-f48f2b3c-geekw25j .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-f48f2b3c-geekw25j .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-f48f2b3c-geekw25j .item-links span  {
		
						border-width: 1px;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	 .master .style-f48f2b3c-geekw25j .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-f48f2b3c-geekw25j .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-f48f2b3c-geekw25j.master.container > #children  {
		
						background-color: rgb(234, 234, 234);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: HelveNueThinNormal;
				
						letter-spacing: -0.0em;
				
						line-height: 1.6em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Arimo;
				
						letter-spacing: 0.0em;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Arimo;
				
						letter-spacing: -0.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.0em;
				
						line-height: 2.0em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(234, 234, 234);
					
		}